:root {

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-bolder: 900;

    /* FONT FAMILY */
    --font-family: "Barriecito", 'Poppins', sans-serif;

    /* FONT SIZE */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2em;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;
    --text-large: 7.8rem;
    --text-very-large: 9.6rem;
    --text-huge: 12rem;

    /* COLOR */
    --primary-base: #BBE1FA;
    --secondary-base: #0F4C75;
    --tertiary-base: #88888830;
    --quaternary-base: gray;
    --white: #ffffff;
    --black: #000000;

}

/* -------------------- GLOBAL STYLES --------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-bolder);
    color: var(--primary-base);
    background-color: var(--black);
}

.main-container {
    max-width: 1800px;
    width: 90%;
    margin: 5% auto;
    background-color: var(--black);
}

.nav-links-container {
    list-style: none;
}

h1, h2, h3 {
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

h5 {
    font-size: var(--text-h5);
}

p {
    font-size: var(--text-base);
}

a {
    display: inline-block;
    font-size: var(--text-base);
    text-decoration: none;
    color: var(--primary-base);
}

button {
    border: none;
    background-color: var(--primary-base);
}
/* -------------------- COMPONENTS --------------------*/

.highlight {
    font-size: var(--text-very-large);
}

.highlight-primary {
    background-color: var(--tertiary-base);
    color: var(--secondary-base);
}

.btn-circle {
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    border-radius: 50%;
}

.home-btn, .about-btn, .resume-btn {
    width: 20rem;
    font-size: var(--text-base);
}

.icon {
    width: 2rem;
    border-radius: 50%;
}

.user-select-none {
    user-select: none;
}

.clickable-text {
    transition: 0.5s;
}

.clickable-img-round {
    transition: 1s;
}

/* -------------------- SECTIONS --------------------*/

/* ---------- NAVIGATION ---------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.logo-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-text-2 {
    align-self: center;
}

.nav-links-container {
    display: none;
    align-items: center;
    gap: 3rem;
}

.contact-anchor {
    color: var(--black);
    background-color: var(--primary-base);
    border-radius: 20rem;
    padding: 0.8rem;

}

/* ---------- HERO ---------- */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.pfp {
    max-width: 25rem;
    width: 100%;
    border: 10px solid black;
    border-radius: 50%;
    transition: 1s;
}

.pfp-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.pfp-caption {
    color: var(--quaternary-base);
    font-size: var(--text-sm);
}

/* -------------------- ANIMATIONS --------------------*/

.dropdown-menu-container.dropdown-opened {
    transform: translate(0, 0);
}

.clickable-text.txt-clicked {
    transform: scale(1.2, 1.2)
}

.round-img-clicked {
    border: 10px solid var(--secondary-base);
    border-radius: 3rem;
}

/* -------------------- MISC --------------------*/

.dropdown-menu-container {
    height: 100%;
    width: 100%;
    padding: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    transform: translate(100%, 0);
    background-color: var(--black);
}

.dropdown-links-container {
    text-align: center;
    margin-top: 5rem;
    list-style: none;
}

.dropdown-links-container > li {
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 5rem;
    background-color: var(--secondary-base);
}
